<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://armony.ophiris.com">
             Armony
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.ophiris.com" target="_blank">Ophir International Services</a>
      </div>
      <!-- your footer here -->
    </div>
  </footer>