<div class="sidebar" data-color="purple" data-background-color="white">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="https://armony.ophiris.com" class="simple-text logo-normal">
      Armony
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="/auth/signin" style="cursor: pointer">
          <i class="material-icons">https</i>
          <p>Se connecter</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="/auth/signup" style="cursor: pointer">
          <i class="material-icons">folder_shared</i>
          <p>Créer compte</p>
        </a>
      </li>
     
    </ul>
  </div>
</div>